.background {
background-color: black;

}

.imageleft {
float:left;
position: relative;
margin-top: 15px;
}

.imageleft2 {
    float:left;
    position: relative;
    margin-top: 30px;
}

.imageleft3 {
    float:left;
    position: relative;
    margin-top: 30px;
}

.buttonleft {
margin-left: 4vw;
}

.buttonleft2 {
    margin-left: 4vw;
    margin-top: 30px;
}

.buttonleft3 {
    margin-left: 4vw;
    margin-top: 30px;
}
    


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7c7c7c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4b4b4b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.resetselect {
background-color: #ccc;
width: 430px;

}


