/* Hud */
@font-face {
  font-family: Kum;
  src: url('../fonts/KumbhSans-Bold.ttf');
}

#main {
  position: absolute;
  bottom: 90%;
  left: 50%;
  margin-right: -50%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%)
}

#hudsettings {
  color:white; 
  font-family: Kum; 
  position:relative; 
  top:10px;
  margin-left: 20%;
  margin-right: 20%;
}

#reset {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  position:relative;
}

#close {
  margin-top: 8px;
  float: left; 
  position:relative;
}

.progressplayer {
  -webkit-transition: 0.35s stroke-dashoffset;
  -o-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  overflow:none;
}

#time {
  position: absolute;
  font-size: 30px;
  font-family: Kum;
  color:whitesmoke;
  top: 0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.idnumber {
  font-size: 14px;
  font-family: Kum;
  fill: whitesmoke;
  overflow:hidden;
}

.top{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 10%;
  background-color: black;
  left: 0%;
}

.bottom{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 10%;
  background-color: black;
  left: 0%;
}

/* --------------------------------------------------------*/

.browser-window-osx {
  position: relative;
  box-shadow: 0px 6px 9px 0px rgba(50, 50, 50, 0.11);
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background: red;
  width: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 25%)
}

.browser-window-osx .header {
  background: #0a0e1f;
  height: 35px;
  border-radius: 6px 6px 0 0;
  padding: 0px 0px 0 12px;
}

.browser-window-osx .header .menu {
  width: 70px;
  display: inline-block;
  height: 25px;
}



.browser-window-osx .window {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  transform: translate(1)
}

#selection {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  font-family: Kum;
  font-size:16px;
  color: #fff;
  float: right;
  width:185px;
  height:30px;
  margin-right: 14px;
  border-radius: 5px;
  border-color: whitesmoke;
  transition: all 0.1s;
	background: black;
	background: linear-gradient(90deg, rgba(19,36,80,1) 0%, rgba(21,36,80,1) 46%, rgba(5,16,57,1) 100%);
  box-shadow: 0 0 6px 2px #1fbfb8;
  text-shadow: 1px 1px 5px black;
  overflow: hidden;
}

.selection select {
  background: transparent;
  width: 150px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
}

.options {
  background-color: #0a0e1f;
}