/* Hud */
@font-face {
  font-family: Kum;
  src: url('../fonts/KumbhSans-Bold.ttf');
}

.main {
  position: fixed;
  bottom: 0.5%;
  right: 38%;
  overflow:none;
}


.progress {
  -webkit-transition: 0.35s stroke-dashoffset;
  -o-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  overflow:none;
}

.progressplayer {
  -webkit-transition: 0.35s stroke-dashoffset;
  -o-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  overflow:none;
}

.backgroundCircle {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  overflow:none;
}

.time-a {
  position: absolute;
  top: 0.5%;
  left: 47%;
  overflow:none;
}

.time {
  position: relative;
  font-size: 30px;
  font-family: Kum;
  color:whitesmoke;
  overflow:none;

}

.idnumber {
  font-size: 14px;
  font-family: Kum;
  fill: rgb(255, 255, 255);
  overflow:hidden;
}

.top{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 10%;
  background-color: black;
}

.bottom{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 10%;
  background-color: black;
}

/* --------------------------------------------------------*/
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow:none;
}

.browser-window-osx {
  box-shadow: 0px 6px 9px 0px rgba(50, 50, 50, 0.11);
  border: 1px solid #c3c3c3;
  width: 38%;
  top: 5vh;
  left: 32vw;
  border-radius: 5px;
  position: relative;
}

.browser-window-osx .header {
  background: #0a0e1f;
  height: 35px;
  border-radius: 5px 5px 0 0;
  padding: 0px 0px 0 10px;
}

.browser-window-osx .header .menu {
  width: 70px;
  display: inline-block;
  height: 25px;
}

@media (max-width: 550px) {
  .browser-window-osx .header .menu {
    display: none;
  }
}

.browser-window-osx .window {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(1);
  border-radius: 0 0 5px 5px;
}

.selection {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  font-family: Kum;
  font-size:16px;
  color: #fff;
  float: right;
  width:185px;
  height:30px;
  margin-right: 14px;
  border-radius: 5px;
  border-color: whitesmoke;
  transition: all 0.1s;
  background: rgb(255,172,31);
  background: linear-gradient(90deg, rgba(255,172,31,1) 0%, rgba(254,69,23,1) 100%);
  box-shadow: 0 0 10px 2px #ffb73a;
  text-shadow: 1px 1px 5px black;
  overflow: hidden;
}

.selection select {
  background: transparent;
  width: 150px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
}

.selection:focus {
  box-shadow: 0 0 10px 2px #c137f5;
}

.options {
  background-color: #0a0e1f;
}